<mat-card style="max-width: 500px; margin-left: 20px;">

    <mat-card-header>
        <mat-card-title>{{message.mTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{message.mContent}}</mat-card-content>
    <mat-card-content>{{message.mLikes}}</mat-card-content>
    <mat-card-content>{{message.mId}}</mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button (click)="onLikeClick()" onclick="this.url.reload();">
            <mat-icon>like</mat-icon>
            Like
        </button>
        <button mat-raised-button (click)="onEditClick()">
            <mat-icon>edit</mat-icon>
            Edit 
        </button>
        <button mat-raised-button (click)="onDeleteClick()" onclick="this.url.reload();"> 
            <mat-icon>delete</mat-icon>
            Delete 
        </button>
    </mat-card-actions>

</mat-card>

<br>