<h1> Message Page </h1>
<h2> Welcome to the Message Page </h2>
<h3> *Feel free to add some content here if you'd like* </h3>

<div id="addElement">
    <label>Title</label>
    <br>
    <input type="text" id="newTitle" placeholder="Enter Title"/>
    <br> <br>
    <label>Message</label>
    <br>
    <textarea id="newMessage" placeholder="Enter Content"></textarea>
    <br>
</div>

<button (click)="addToMessages()"> Post this to messages</button>
&nbsp;
<button (click)="returnToMessages()"> Click me to go back to messages page </button>
