<h1> Edit Page </h1>
<h2> Welcome to the Edit Page </h2>
<h3> *Feel free to edit some content here if you'd like* </h3>

<div id="editElement">
    <label>Title</label>
    <br>
    <input type="text" id="newTitle" placeholder="Enter Title"/>
    <br> <br>
    <label>Message</label>
    <br>
    <textarea id="newMessage" placeholder="Enter Content"></textarea>
    <br>
</div>

<button (click)="editMessage()"> Edit Message</button>
&nbsp;
<button (click)="returnToMessages()"> Click me to go back to messages page </button>
