.idea-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #aeb6ff; /* Light gray background */
    min-height: 100vh;
  }
  
  .message-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .message-container {
    flex-grow: 1; /* Allow the message container to expand */
    max-width: 100%; /* Ensure the message container doesn't exceed the viewport width */
    width: 300px; /* Adjust the width as needed, or use a percentage */
    padding: 20px;
    border: 2px solid #9370db; /* Dark green outline */
    border-radius: 10px;
    background-color: #befffa; /* Mint green background */
    margin: 10px;
  }
  
  .message-box {
    padding: 10px;
    margin: 10px;
  }
  